input[type=range]{
    /* This sizing is just to make sure coloring is right */
    -webkit-appearance: none;
    width: 10%;
    height: 20px;

    /* background: linear-gradient(to left, rgb(0,255,0), rgb(0,0,0)); */
}