.default_txt {
    width: 75%;
    margin: auto;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Montserrat';
    font-size: 40px;
    /* background-color: black; */
    background: rgb(80, 162, 167);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(80, 162, 167, 0.5);
}