:root{
    --colorBackground: #1a2c2f;
    --color2: #2b454a;
    --color3: #436a6d;
    --color4: #63979c;
    --colorLight: #93d4d0;
    --textColor: whitesmoke;
}

img{
    /* stop images from being dragged */
     pointer-events: none;
}

@media (max-width: 450px) {
    .txtBlock{width: 90%;}
    .default_txt {font-size: 16px;}
    .GrowHeader{font-size: 25px;}
}

@media (min-width: 450px) {
    .txtBlock{width: 66%;}
    .default_txt {font-size: 18px;}
    .GrowHeader{font-size: 30px;}
}

.txtBlock{
    margin: auto;
}

.default_txt {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--textColor);
    font-family: 'Montserrat';
    /* font-size: 16px; */
   background-color: var(--colorBackground);
    /* background: rgba(80, 162, 167, 0.5); */
    /* background-color: rgb(47, 146, 151); */
}

.default_txt:last-child {
    margin-bottom: 50px;
}


.GrowHeader{
    /* max-width: 75%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    min-width: 200px;
    margin: auto;
    
    /* background: rgb(144, 80, 165); */
    /* background: rgb(124, 80, 146); */
    background-color: var(--color4);
    border-bottom-style: solid;
    border-bottom-color: var(--color3);
    /* color: var(--colorLight); */
    color:white;
    font-weight: bold;
    font-family: Trebuchet;

    transition: width 1s;
}