@media(min-width:1500px){
    .list-element{
        /* min-width: 25%; */
        width: 33%;
    }
}

@media(max-width:1500px){
    .list-element{
        /* min-width: 33%; */
        width: 49%;
    }
}

@media(max-width:900px){
    .list-container{
        flex-direction: column;
    }
    .list-element{
        width: 100%;
    }
}


.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

    width: 95%;
    margin-left: auto;
	margin-right: auto;
}

.list-element{
    background: rgb(80, 162, 167);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(80, 162, 167, 0.5);

    box-sizing: border-box;
    border: 2px black solid;

    min-height: 200px;

    /* overflow: auto; */
    /* For the inner img and text elements */
    display: flex;
    flex-direction: column;
}


.list-element:hover {
    opacity: .8;
    border: 2px white solid;
}

.list-element h3{
    color: whitesmoke;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.list-element p{
    /* color: whitesmoke; */
    color:whitesmoke;
    font-family: 'Montserrat';
    font-size: 20px;

    width: 95%;
    margin: 5px auto;
	/* margin-left: auto;
	margin-right: auto; */
}

.list-element img{
    display: block;
    max-width: 90%;
    max-height: 200px;
    margin-left: auto;
	margin-right: auto;

    border: solid black 2px;
}
