
/* This is for testing with the PixelParticle.js and DemoIntroPage.html stuff
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
} */

body{
  display: block;
  background: black;
}

#WelcomeCanvas {
  left: 0px;
  margin:0;
  padding: 0;
  /* width:100%; */
}